@font-face {
  font-family: HolidayExtras Sans;
  src: url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Regular.eot);
  src: url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Regular.eot?#iefix) format('embedded-opentype'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Regular.woff2) format('woff2'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Regular.woff) format('woff'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: auto;
  font-style: normal
}

@font-face {
  font-family: HolidayExtras Sans;
  src: url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Bold.eot);
  src: url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Bold.eot?#iefix) format('embedded-opentype'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Bold.woff2) format('woff2'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Bold.woff) format('woff'), url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/HolidayExtrasSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: auto;
  font-style: normal
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: #FDDC06;
}

.toolbar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
	background-color: #542E91;
  border-left: 1px solid #402270;
  text-align: left;
  padding: 30px;
  overflow-y: scroll;
  z-index: 1
}

.textbox {
  padding: 0 0 30px 0;
  display: block !important
}

textarea, input[type="text"] {
  border-radius: 5px;
  background-color: #4b2982;
  border-color: #d6bcff;
  color: #FFFFFF;
  display: block
}

textarea {
  height: 100px;
  width: 80%;
  margin: 0 auto
}

textarea::placeholder, input[type="text"].changeImage::placeholder, input[type="text"].changeCTAText::placeholder {
  color: #d6bcff
}

.subtitle, .brandText, .ctaSizeText, .styleTitle {
  font-size: 18px;
  color: #FFFFFF
}

.textSize {
  padding: 0 0 0 15px
}

.styleBlock {
  width:80%;
  margin:0 auto;

}
.styleBlock div, .changeCTA>div {
  display:inline-block;
  color:#542E91;
  font-weight:bold
}

.button {
  border: 2px solid #542E91;
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  color: #542E91;
  font-size: 15px;
  margin-left: 10px;
  height:30px;
  width:30px;
  line-height:30px;
  text-align:center;
  display:inline-block
}

.styleItalic.button {
  margin-left:13px
}

.button:hover {
  background:rgba(84, 46, 145, 0.2)
}

.active {
  background:rgba(84, 46, 145, 1)!important;
  color:#FDDC06!important

}
.emailBody {
  margin: 0px auto;
  width: 600px;
  top: 0;
}

.contentArea {
  position: absolute;
  min-height: calc(100% - 80px);
  background-color: #301a55;
  overflow: hidden;
}

.copyBtn {
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: #301a55;
  bottom: 0;
  color: #FFFFFF;
  font-size: 30px;
  -webkit-box-shadow: 0px -8px 26px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -8px 26px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -8px 26px -2px rgba(0, 0, 0, 0.3);
}

#iFrame {
  width: 100%;
  height:100%!important
}

.iFrameResize {
  max-width: 600px;
  margin: 0px auto;
  height: calc(100% - 30px);
}

body {
  margin: 0
}

.hiddenContent {
  display: none
}

#drag {
  background-color: orange;
}

.emailWidth {
  font-size: 20px;
  position: relative;
  display: inline-block;
  height: 50px;
  left: 50%;
  z-index: 100;
  color: #FFFFFF;
  transform: translate(-50%, 0%)
}

.emailWidth>i {
  font-size: 15px;
  padding: 0 30px;
  color: #FFFFFF
}

.resizeController {
  padding: 10px 0
}

.handleMark {
  font-size: 20px;
  position: absolute;
  width: 50px;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.fa-arrows-alt-h {
  font-weight: 900;
  width: 50px;
  text-align: right;
  color: #FFFFFF
}

.pageTitle {
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0 40px 0;
  width:500px;
  margin:0 auto
}

.bestUsed, .builtBy {
  font-size:16px;
  display:inline-block;
}

.bestUsed {
  float:right
}

.builtBy {
  float:left
}
.bestUsed > span, .builtBy > span {
  color:#FFFFFF!important
}

.pageTitle>span {
  color: #FDDC06
}

.styleTitle {
  width: 160px;
  padding: 20px 0 20px 0
}

.codeCopied, .copyCode, .copyShare, .shareCopied, .downloadFile, .fileDownloaded {
  bottom: 20px
}

.settingsCopied, .copySettings {
  bottom: 80px
}

.copyCode, .copySettings {
  display: inline-block;
  text-align: center;
  width: 180px;
  background-color: #FDDC06;
  color: #542E91;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 3;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.copyShare {
  display: inline-block;
  text-align: center;
  width: 180px;
  background-color: #FDDC06;
  color: #542E91;
  position: absolute;
  right: 25%;
  transform: translate(50%, 0%);
  z-index: 3;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.downloadFile {
  display: inline-block;
  text-align: center;
  width: 180px;
  background-color: #FDDC06;
  color: #542E91;
  position: absolute;
  right: 75%;
  transform: translate(50%, 0%);
  z-index: 3;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.codeCopied, .settingsCopied {
  display: none;
  text-align: center;
  width: 180px;
  background-color: #00A99D;
  color: #FFFFFF;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 4;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.shareCopied {
  display: none;
  text-align: center;
  width: 180px;
  background-color: #00A99D;
  color: #FFFFFF;
  position: absolute;
  right: 25%;
  transform: translate(50%, 0%);
  z-index: 4;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.fileDownloaded {
  display: none;
  text-align: center;
  width: 180px;
  background-color: #00A99D;
  color: #FFFFFF;
  position: absolute;
  right: 75%;
  transform: translate(50%, 0%);
  z-index: 4;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px
}

.settings {
  display: none
}

.emailBody {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  top: 150px;
  bottom: 10px
}

.emailContent>table {
  margin: 0 auto;
  max-width: 600px
}

.toolbar>div>div>div>table {
  zoom: 0.5;
  transform: scale(1);
  margin: 0px auto;
}

.toolbar>div>div>div {
  position: relative;
  margin: 20px 0;
	display:inline-block
}

*:focus {
  outline: none;
  border: 1px dashed #FDDC06
}

xmp {
  display: none
}

.emptyContent {
  min-width: 100%
  margin: 0px auto;
  color: white;
  border: 1px dashed white;
  padding: 30px;
  font-size: 20px;
  line-height: 1.3;
}

.fa-long-arrow-alt-right {
  font-size: 25px;
  padding-left: 10px;
}

.toolbar>h1:first-child {
  font-size: 40px;
  color: #FDDC06;
  margin-top: 10px;
  line-height: 1;
  font-weight:normal;
  margin-top:10px;
  padding-top:0px
}

.toolbar>h2, .toolbar>div>h3 {
  font-weight:normal
}
.hiddenContent {
  display: none
}

.resizeControls>div {
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF
}

.resizeWidth {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.resizeDevices {
  position: absolute;
  left: 0;
}

.resizeControls {
  position: relative;
  margin: 0 0 40px 0;
  display: none
}

.resizeControls i {
  margin: 0 10px
}

* {
  font-family: 'HolidayExtras Sans', Arial Bold, sans-serif;
  margin: 0px;
  padding: 0px;
}

h3:first-letter {
  text-transform: capitalize;
}

.toolbar > div > div > h3, .toolbar > h2 {
  color:#FFFFFF
}

.toolbar > div > div > h3 {
font-size:18px}

body {
  background-color:#301a55
}

.changeModal, .deleteModal {
  position:fixed;
  height:100%;
  right:-400px;
  z-index:2000;
  background-color:#FDDC06;
  overflow:scroll;
  padding-bottom:30px
}

.closeEditor {
  width:80%;
  margin:0 auto;
  font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
    color: #4b2982;
    cursor: pointer;
    border-bottom: 1px solid #4b2982;
}

textarea:focus, input:focus{
    outline: none!important;
}

.pad30top {
  padding-top:30px
}

.pad15top {
  padding-top:15px
}

.fontSizeOutput, .lineHeightOutput {
  margin-left:10px
}

.imgSize, .ctaSize {
  display:inline
}

input.imageSize {
  width:40px;
  text-align:center
}

input.ctaSize {
    width:76px;
    text-align:center
}

.imgTitle, .ctaTitle {
  width:70px;
}

.imageUrl {
  width:97%
}
.imageUrlContainer {
  display:block;
  width:100%
}
.imgHeightTitle {
  margin-left:20px
}

.removeModules > table {
  zoom: 0.5;
  transform: scale(1);
  margin:10px
}

.removeModules {
  border : 1px dashed #542E91;
  margin-top:20px;
  display:inline-block;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}

.deleteModulesBtn {
border:1px solid #FFFFFF;
color:#FFFFFF;
position:absolute;
right:0;
top:-5px;
padding:5px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-bottom:5px;
z-index: 10000
}

.moduleContainer {
  border: 1px dashed #FDDC06;
  padding: 5px
}

.module {
  max-width:600px;
  background-color:#FFFFFF
}

.helpBtn {
    background-color: #542E91;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color:#FFFFFF;
    border-radius: 50%;
    position: fixed;
    z-index: 2000;
    padding:10px;
    transition: all .5s ease-in-out;
}

.fa-question {
  display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px!important;
    position: absolute;
    top: 5px;
    left: 5px;
}

.helpBtnSmall {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,1);
    -moz-box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,1);
    box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,1);
}

.helpBtnFull {
  top:0;
  left:0;
  border-radius:0;
  width:300px;
  height:100%;
  -webkit-box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,0);
  -moz-box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,0);
  box-shadow: inset 0px 0px 0px 8px rgba(93,57,151,0);
}

.helpContent {
  position:relative;
  height:100%;
  transition: all .5s ease-in-out;
  transition-delay: .2s;
  overflow:scroll;
  margin-bottom:50px
}

.helpContentInactive {
  opacity:0;
  left: -300px;

}

.helpContentActive {
  opacity:1;
  left: 0px;

}
.fileName {
  position: absolute;
  z-index: 100;
  width: 250px;
  background: #FDDC06;
  bottom: 90px;
  right: 72.7%;
  padding: 10px 0;
  border-radius: 4px;
  opacity:0;
  transform: translate(0, 55px) scale(0);
  transition: all 1s;
}

.fileName.scale {
  transform: translate(0, 0) scale(1);
  opacity:1

}
.triangle {
    height: 0;
    width: 0;
    border: 20px solid #FDDC06;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

input.fileNameText {
    width: 185px;
    display: inline-block;
    margin: 0 10px;

  }

  .fileName > .fa-download {
    font-size: 20px;
    vertical-align: middle;
    color: #542E91;
}


.feedback {
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #FDDC06;
  color: #542E91;
  z-index: ;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px;
  margin-top:30px
}

.helpContent > p {
  text-align: left;
  font-size: 16px;
  line-height: 1.3;
  font-weight: normal;
  margin: 10px 0 30px 0;
  padding:0 0 0 10px;
  border-left:1px solid #FDDC06
}

.helpContent > h2 {
  color: #FDDC06;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
  margin:0
}

.helpContent > h1 > .fa-times {
  font-size:30px;
  float:right;
  margin-top:5px
}

.helpContent > h1 {
  font-size: 30px;
    text-align: left;
    font-weight: normal;
}

.helpBG {
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.75);
  position:absolute;
  top:0;
  left:0;
  z-index: 1999;
  display:none
}
